.at_vuu_container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	padding: @xf-blockPaddingV @xf-blockPaddingH;
}

.at_vuu_floatLeft {
	width: 30%;
	border: solid 1px @xf-borderColorLight;
	border-radius: @block-borderRadius-inner;
	margin-bottom: @xf-blockPaddingV;
	position: relative;
	background: @xf-contentAltBg;
}

.at_vuu_title {
	height: 40px;
	text-align: center;
	font-size: 25px;
	color: white;
	padding-bottom: 100px;
	&.id_1 {
		background-color: @xf-at_vuu_id1;
		
		> div:first-of-type {background-color: @xf-at_vuu_id1_title;}
		
		& .at_vuu_cost_text {background-color: @xf-at_vuu_id1;}
	}

	&.id_2 {
		background-color: @xf-at_vuu_id2;
		
		> div:first-of-type {background-color: @xf-at_vuu_id2_title;}
		
		& .at_vuu_cost_text {background-color: @xf-at_vuu_id2;}
	}

	&.id_3 {
		background-color: @xf-at_vuu_id3;
		
		> div:first-of-type {background-color: @xf-at_vuu_id3_title;}
		
		& .at_vuu_cost_text {background-color: @xf-at_vuu_id3;}
	}
}

.at_vuu_cost {
	margin: 0px 35%;
	display: table;
}

.at_vuu_cost_text {
	font-size: 15px;
	width: 80px;
	height: 80px;
	border: solid 5px @xf-contentAltBg;
	border-radius: 40px;
	font-size: 15px;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

.at_vuu_description {
	padding: 15px @xf-blockPaddingV 100px @xf-blockPaddingV;

	& .list {
		text-align: center;
		border-bottom: solid 1px @xf-borderColorLight;
		padding: @xf-blockPaddingV 0;
	}
}

.at_vuu_payment {
	text-align: center;
	position: absolute;
	bottom: @xf-blockPaddingV;
	width: 100%;
}